<ul class="feeds list-unstyled">
    {{#if feeds }}
        {{#each feeds}}
        <div class="feed" data-id="{{id}}">
            <div class="feed-meta">
                <div class="title">{{ title }}</div>
                <div class="description">{{ description }}</div>
            </div>
            <div class="entries-count">
                <span>
                    {{ count }}
                </span>
            </div>
        </div>
        {{/each}}
    {{else }}
        {{> no_feeds_tpl }}
    {{/if }}
</ul>
